@import url(reset.css);



:root {
    --system-color: 238, 238, 238;
    --contents-color: 0, 152, 113;
    --bgc: 33, 33, 33;
    --alpha: 0.8;
    --border-dark: 0, 152, 113;
    --border-light: 31, 183, 144;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(var(--border-dark));
}

button {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;


    color: rgb(var(--contents-color));
    background: gray;
    /* 브라우저가 그라디언트 지원하지 않을 때 */
    background: -webkit-linear-gradient(#111111, #333333);
    /* For Safari 5.1 to 6.0  사파리 */
    background: -o-linear-gradient(#111111, #333333);
    /* For Opera 11.1 to 12.0  오페라 */
    background: -moz-linear-gradient(#111111, #333333);
    /* For Firefox 3.6 to 15 파이어폭스 */
    background: linear-gradient(#111111, #333333);
    /* Standard syntax  표준 */
    background-attachment: fixed;

}

.nav_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.h1_wrapper {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
}

header {
    /* margin-top: 16px; */
    transition: all 0.2s;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 10000;
    /* height: initial; */
    transition: all 0.2s;
    /* width: 0px; */
}


.main {
    position: relative;
    /* top: 16px; */
    top: 0;
    /* background-color: rgba(var(--bgc), 0.8); */
    min-height: 100vh;
    flex-shrink: 1;
    flex-grow: 1;
    transition-property: all;
    transition-duration: 0.5s;
}


.main.active {
    transform: translateX(-311px);
}


nav {
    position: relative;
    /* right: 72px; */
    width: 48px;
    height: 100%;
    margin: 0px 12px;

}

.nav_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: fixed;


}

.nav_list {
    padding: 6px 0px;
    width: 0px;
    transition: all 0.2s;
    opacity: 0;
}



.nav_list:first-child {
    border-bottom: 1px solid #555;
}


.hamburger_wrap.active~.nav_list {
    width: 48px;
    transition: all 0.2s;
    opacity: 1;

}

.layer_link {
    display: flex;
    color: rgb(var(--system-color));
    width: 48px;
    height: 48px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    border: 1px solid #333;
    background-color: rgba(var(--bgc), 0.5);
    transition-property: width;

    transition: 0.1s;
}

.layer_link:hover {
    border-radius: 12px;
}

.layer_link::after {
    content: "";
    position: absolute;
    right: -13px;
    width: 6px;
    height: 24px;
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.layer_link:hover::after {

    width: 6px;
    height: 20px;
    background-color: rgba(var(--system-color), 0.765);
    transition-property: width;
    transition: 0.3s;

}


.layer_link:active {
    transform: translateY(1.5px);
    transition: all 0s;
    ;
}

.layer_link:active::after {

    height: 42px;
}

.move_point {
    position: relative;
    width: 100%;
    color: rgb(var(--system-color));
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    border-bottom: 1px solid #333;
    font-size : 1rem;
}



.layer_link.active {
    border-radius: 12px;
}

.active+.Sub_list {
    width: 240px;
}

.active::after {
    content: '';
    width: 6px;
    height: 42px;
    background-color: rgba(var(--system-color), var(--alpha));
    transition-property: width;
    transition: 0.3s;
}

.active:hover::after {
    height: 42px;

}

.Sub_list {
    position: absolute;
    min-height: 100vh;
    top: 0;
    right: 60px;
    background-color: rgba(var(--bgc), 0.6);
    z-index: 50;
    border-top-right-radius: 12px;
    padding: 10px;
    transition: all 0.2s;


}

.Sub_list:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: -webkit-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Safari 5.1 to 6.0  사파리 */
    background: -o-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Opera 11.1 to 12.0  오페라 */
    background: -moz-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Firefox 3.6 to 15 파이어폭스 */
    background: linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    left: 0px;
    top: 0px;
    position: absolute;
}


.welcome {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 5rem;
    font-weight: bold;
    /* margin: 10px; */
    border-bottom: 1px solid #333;
    height: 100vh;
    background-image: url(../image/code_bg.jpg);
    text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;
    text-align: center;
    word-break: keep-all;
    color: rgb(var(--system-color));



}

.welcome p {
    margin: 10px;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.start {
    font-size: 1rem;

}


.content {
    /* margin: 20px 0px; */
    height: 100vh;
}

.content:nth-of-type(2n-1) {
    background-color: rgba(255, 255, 255, 0.1);
}



article {
    display: flex;
    padding: 20px 0px;
    width: 100%;
    height: calc((100vh - 30px - 2rem)/2);
    flex-direction: row;
    position: relative;
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.skill_wrap p {
    line-height: 50px;
    font-size: 1.5rem;
}

.flex .skill_wrap {
    margin-bottom: 30px;
}

h2 {
    padding: 15px 0px;
    font-size: 3rem;
    text-align: center;
    color: rgb(var(--system-color));
    word-break: keep-all;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* flex-grow : 1; */
}



.info_wrap {
    display: flex;
    height: calc(100vh - 88px);
}

.profile {
    position: relative;
    /* margin: 0 auto; */
    max-width: 100%;
    /* min-width: 30%; */
    border-radius: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.profile_image_wrap {
    position: relative;
    min-width: 30%;
    text-align: center;
    padding: 10px;
}

.introduce_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(var(--contents-color));
    font-size: 1.5rem;
    justify-content: space-around;
}

.introduce {
    display: flex;
    text-align: left;
    position: relative;
    align-items: center;
    font-size: 1.5rem
}

.introduce .introduce {
    height: 1.5rem;
    display: block;
    position: relative;
}

.introduce .introduce:first-of-type {
    width: 30%;
    min-width: 4.5rem;
    margin-right: 10px;
}

.skill_image,
.tool_image {
    width: 100%;
    height: 100%;
}

.introduce.skill{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: calc(1.5rem + 10px);
}

.skill_wrap {
    position: relative;
    display: flex;
}


.skill_image_wrap,
.tool_image_wrap {
    position: relative;
    width: 50px;
    height: 50px
}

.skill_image_wrap::after,
.tool_image_wrap::after {
    content: var(--toggle-message);
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s linear;
    transition-property: opacity;
    text-align: center;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0px;
}

.skill_image_wrap::before,
.tool_image_wrap::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 10px solid rgba(255, 255, 255, 0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
    opacity: 0;

    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0px;

}



.skill_image_wrap:nth-of-type(1)::after {
    content: 'HTML5';

}

.skill_image_wrap:nth-of-type(2)::after {
    content: 'CSS3';

}

.skill_image_wrap:nth-of-type(3)::after {
    content: 'JavaScript';

}

.tool_image_wrap:first-of-type::after {
    content: 'VSCode';

}


.skill_image_wrap:hover::after,
.skill_image_wrap:hover::before,
.tool_image_wrap:hover::after,
.tool_image_wrap:hover::before {
    opacity: 1;
    overflow: visible;
    clip: initial;
    margin: 0px;
    padding: 0px;
}

.skill_image_wrap:hover::after,
.tool_image_wrap:hover::after {
    width: 100px;
    height: 1.5rem;
    bottom: calc(-10px - 1.5rem);
    line-height: 1.5rem;
    font-size: 1rem;
}



.icon {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.move_portfolio {
    display: block;
    width: 40%;
    max-height: 30vh;
    position: relative;
    margin: 20px;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}



.move_portfolio.button

/*, .icon.button */
    {
    padding: 20px;
}


.move_portfolio.button,
.introduce.button {
    position: relative;
    width: auto;
    min-height: 1rem;
    margin-top: 10px;
    border: 1px solid rgb(var(--border-dark));
    transition: all 0.2s;
    border-radius: 5px;
}

.introduce.button {
    padding-right: 10px;
}

.move_portfolio.button:hover,
.introduce.button:hover {
    background-color: rgb(var(--border-light));
    color: rgb(var(--system-color));
}

.move_portfolio.button:active,
.introduce.button:active {
    transform: translateY(5px);
}

.introduce.button::after {
    position: absolute;
    left: 10px;
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-image: url(../image/phone_white.png);
    background-size: contain;
    z-index: 10;
}

.introduce.button:last-of-type::after {
    background-image: url(../image/email_white.png);
}

.icon.button {
    transition: all 0.2s;
    z-index: 100;
    opacity: 1;
}

.icon.button:hover .introduce.button {
    opacity: 0;
}


.thumbnail {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* margin: 20px; */
    border-radius: 10px;
    transition: all 0.2s linear;


}

/* 
.thumbnail_wrap {
    overflow: hidden;
    border-radius: 10px;
    width: auto;
    min-height: 30vh;
    position: relative;
    margin : auto;
} */
/* 
.thumbnail:hover {
    transform: scale(1.05);
} */

.hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    margin: 10px 0px;
}

.hamburger,
.hamburger span {
    display: inline-block;

    transition: all .4s;
    box-sizing: border-box;

}



.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.hamburger span:nth-of-type(1) {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 15px;
    transform: translateY(-50%);
}

.hamburger span:nth-of-type(3) {
    bottom: 0;
}

/* type-01 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.hamburger.active span:nth-of-type(1) {
    -webkit-transform: translateY(13px) rotate(-45deg);
    transform: translateY(13px) rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-13px) rotate(45deg);
    transform: translateY(-13px) rotate(45deg);
}


.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0px;
}

div.content:last-of-type {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

/* div.content:last-of-type p:first-of-type {
    color: rgb(var(--system-color));
} */

.contact_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer.content {
    color: rgb(var(--system-color));
    text-align: center;
    position: relative;
    height: 100px;
    word-break: keep-all;

}

footer p {
    height: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (max-width:850px) {

    .welcome {
        font-size: 3rem;
    }
}

@media screen and (max-width:768px) {

    .info_wrap {
        flex-direction: column;
    }

    .profile {
        margin: 30px auto;
        max-height: 30vh;
        border-radius: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .introduce_wrap {
        height: 70vh;
        justify-content: space-around;
    }

    .introduce {
        height: 50px;
        font-size: 1rem;
    }

    .introduce.skill {
        height: 84px;
    }

    .flex {
        width: 100%;
        padding: 10px;
    }

    .icon {
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    .introduce.button::after {
        width: 30px;
        height: 30px;
    }

    article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    .move_portfolio {
        width: auto;
        height: auto;

    }

    /* .thumbnail_wrap{
        width: auto;
        height: auto;
    } */

    .tool_image_wrap::after {
        top: -34px;
        left: 50%; 
    }
    .tool_image_wrap::before {
        top: -10px;
        left: 50%;
        border-top: 10px solid rgba(255, 255, 255, 0.1);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; 
        border-bottom: 0;
    
    }

    .move_portfolio.button,
    .icon.button {
        padding: 10px;

    }

    .thumbnail {
        height: 100%;

    }

    .contact_wrap {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    a.introduce {
        margin: 5px;
    }


}

/* @media screen and (max-width:425px) {
    .introduce .introduce {
        font-size: 1rem;
    }
} */