@import url(reset.css);

:root {
    --font-color: 238, 238, 238;
    --bgc: 33, 33, 33;
    --alpha: 0.8;
    --border-dark: 0, 152, 113;
    --border-light: 31, 183, 144;
}


a {
    text-decoration: none;
    display: block;
}

button {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;


    color: rgb(var(--font-color));
    background: gray;
    /* 브라우저가 그라디언트 지원하지 않을 때 */
    background: -webkit-linear-gradient(#111111, #333333);
    /* For Safari 5.1 to 6.0  사파리 */
    background: -o-linear-gradient(#111111, #333333);
    /* For Opera 11.1 to 12.0  오페라 */
    background: -moz-linear-gradient(#111111, #333333);
    /* For Firefox 3.6 to 15 파이어폭스 */
    background: linear-gradient(#111111, #333333);
    /* Standard syntax  표준 */
    background-attachment: fixed;

}

.nav_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.h1_wrapper {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* h1 {
    width: 100%;
    background-color: rgb(247, 196, 206);
} */

header {
    /* margin-top: 16px; */
    transition: all 0.2s;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    z-index: 10000;
    height: initial;
    transition: all 0.2s;
    width: 0px;
}


.main {
    position: relative;
    /* top: 16px; */
    top: 0;
    /* background-color: rgba(var(--bgc), 0.8); */
    min-height: 100vh;
    /* padding: 20px; */
    flex-shrink: 1;
    flex-grow: 1;
    transition-property: all;
    transition-duration: 0.5s;
}


.main.active {
    transform: translateX(-311px);
}


nav {
    position: relative;
    right: 72px;
    width: 48px;
    height: 100%;
    margin: 0px 12px;

}

.nav_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: fixed;


}

.nav_list {
    padding: 6px 0px;
    width: 0px;
    transition: all 0.2s;
    opacity: 0;
}



.nav_list:first-child {
    border-bottom: 1px solid #555;
}


.hamburger_wrap.active~.nav_list {
    width: 48px;
    transition: all 0.2s;
    opacity: 1;

}

.layer_link {
    display: flex;
    color: rgb(var(--font-color));
    width: 48px;
    height: 48px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    border: 1px solid #333;
    background-color: rgba(var(--bgc), 0.5);
    transition-property: width;

    transition: 0.1s;
}

.layer_link:hover {
    border-radius: 12px;
}

.layer_link::after {
    content: "";
    position: absolute;
    right: -13px;
    width: 6px;
    height: 24px;
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.layer_link:hover::after {

    width: 6px;
    height: 20px;
    background-color: rgba(var(--font-color), 0.765);
    transition-property: width;
    transition: 0.3s;

}


.layer_link:active {
    transform: translateY(1.5px);
    transition: all 0s;
    ;
}

.layer_link:active::after {

    height: 42px;
}

.move_point {
    position: relative;
    width: 100%;
    color: rgb(var(--font-color));
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    border-bottom: 1px solid #333;
}



.layer_link.active {
    border-radius: 12px;
}

.active+.Sub_list {
    width: 240px;
}

.active::after {
    content: '';
    width: 6px;
    height: 42px;
    background-color: rgba(var(--font-color), var(--alpha));
    transition-property: width;
    transition: 0.3s;
}

.active:hover::after {
    height: 42px;

}

.Sub_list {
    position: absolute;
    min-height: 100vh;
    top: 0;
    right: 60px;
    background-color: rgba(var(--bgc), 0.6);
    z-index: 50;
    border-top-right-radius: 12px;
    padding: 10px;
    transition: all 0.2s;


}

.Sub_list:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: -webkit-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Safari 5.1 to 6.0  사파리 */
    background: -o-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Opera 11.1 to 12.0  오페라 */
    background: -moz-linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    /* For Firefox 3.6 to 15 파이어폭스 */
    background: linear-gradient(rgb(var(--border-dark)), rgb(var(--border-light)));
    left: 0px;
    top: 0px;
    position: absolute;
}


.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    font-size: 5rem;
    font-weight: bold;
    /* margin: 10px; */
    border-bottom: 1px solid #333;
    height: 100vh;
    background-image: url(../image/code_bg.jpg);
    text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;




}

.welcome p {
    margin: 10px;
    max-height: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.start {
    font-size: 1rem;

}


.content {
    /* margin: 20px 0px; */
    height: 100vh;
}

.content:nth-of-type(2n-1) {
    background-color: rgba(255, 255, 255, 0.1);
}

.content:last-of-type {
    height: 20vh;
}

article {
    padding: 20px 0px;
    min-height: 40px;
    max-height: 50vh;
}

/* .container p,
.container article {
    padding-left: 60px;
} */


.flex {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 60%;
    /* justify-content: center; */
    align-items: center;
}

h2 {
    padding: 20px 0px;
    font-size: 3rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* flex-grow : 1; */
}


.flex p {
    flex-grow: 1;
    padding: 0px;
    margin: 5px;

}

.info_wrap {
    display: flex;
    height: calc(100vh - 88px);
}

.profile {
    margin: auto 30px;
    min-width: 30%;
    max-height: 80vh;
    border-radius: 1rem;
}

.introduce_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(var(--border-light));
    font-size: 1.5rem;
    justify-content: space-around;

}

.introduce {
    display: flex;
    text-align: left;
    height: 70px;
    position: relative;
}

.introduce .introduce {
    width: 80%;
    height: 1.5rem;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.introduce .introduce:first-of-type {
    width: 20%;
    min-width: 4.5rem
}

.skill_image,
.tool_image,
.contact_image {
    width: 100%;
    height: 100%;
}

.skill_wrap {
    position: relative;
    display: flex;
}

.skill_image_wrap,
.tool_image_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px
}

.skill_image_wrap::after,
.tool_image_wrap::after {
    content: 'HTML5';
    display: block;
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -110px;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s linear;
}

.skill_image_wrap:hover::after,
.skill_image_wrap:hover::before,
.tool_image_wrap:hover::after,
.tool_image_wrap:hover::before {
    opacity: 1;
}

.skill_image_wrap::before,
.tool_image_wrap::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
    opacity: 0;

}

.icon {
    width: 70px;
    height: 70px;
    padding: 10px;
}

.move_portfolio {
    display: block;
    width: 40%;
    position: relative;
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;

}

.hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    margin: 10px 0px;
}

.hamburger,
.hamburger span {
    display: inline-block;

    transition: all .4s;
    box-sizing: border-box;

}



.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.hamburger span:nth-of-type(1) {
    top: 0;
}

.hamburger span:nth-of-type(2) {
    top: 15px;
    transform: translateY(-50%);
}

.hamburger span:nth-of-type(3) {
    bottom: 0;
}

/* type-01 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
.hamburger.active span:nth-of-type(1) {
    -webkit-transform: translateY(13px) rotate(-45deg);
    transform: translateY(13px) rotate(-45deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-13px) rotate(45deg);
    transform: translateY(-13px) rotate(45deg);
}


.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0px;
}

article {
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer {
    height: 20vh;
}


@media screen and (max-width:850px) {

    .welcome {
        font-size: 3rem;
    }
}

@media screen and (max-width:600px) {

    .info_wrap {
        flex-direction: column;
    }

    .profile {
        margin: 30px auto;
        max-height: 30vh;
        border-radius: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .introduce_wrap {
        max-height: 70vh;
    }

    .introduce {
        height : 50px;
    }
    .icon {
        padding : 5px;
        width : 50px;
        height : 50px;
    }
}