@charset "UTF-8";
@import url(./reset.css);

.blind {
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

html,
body,
section {
    width: 100%;
    height: 100%;
}



header {
    position: fixed;
    background-color: rgba(64, 64, 64, 0.75);
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    z-index: 100;
}

.top {
    position: fixed;
    bottom: 180px;
    right: 0;
    background-image: url(/image/foodwith_IR/go_top.gif);
    width: 100px;
    height: 100px;
    border: 0;
    cursor: pointer;
    z-index: 50;
}

header a {
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translateY(-50%);
}

.section_invite {
    background-image: url(/image/foodwith_IR/section_invite.jpg);
    min-width: 980px;
    height: 750px;
    background-repeat: no-repeat;
    background-position: center;
}

.section_creator {
    background-image: url(/image/foodwith_IR/section_creator.jpg);
    background-color: #f9939d;
    min-width: 980px;
    height: 822px;
    background-repeat: no-repeat;
    background-position: center;
}

.section_store {
    background-image: url(/image/foodwith_IR/section_store.jpg);
    background-color: #d5e48f;
    min-width: 980px;
    height: 1084px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.store:after {
    content: '';
    clear: both;
    display: block;
}

.store {
    position: absolute;
    width: 980px;
    height: 760px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);

}

.link {
    display: block;
    height: 230px;
    border-radius: 10px;
}

.apple {
    background-image: url(/image/foodwith_IR/thumbnail_apple.jpg);
}

.onion {
    background-image: url(/image/foodwith_IR/thumbnail_onion.jpg);

}

.banana {
    background-image: url(/image/foodwith_IR/thumbnail_banana.jpg);

}

.kiwi {
    background-image: url(/image/foodwith_IR/thumbnail_kiwi.jpg);

}

.broccoli {
    background-image: url(/image/foodwith_IR/thumbnail_broccoli.jpg);

}

.lemon {
    background-image: url(/image/foodwith_IR/thumbnail_lemon.jpg);

}

.gralic {
    background-image: url(/image/foodwith_IR/thumbnail_garlic.jpg);

}

.tomato {
    background-image: url(/image/foodwith_IR/thumbnail_tomato.jpg);

}

.link:hover .price_wrap {
    display: block;
}

.price_wrap {
    display: none;
    position: absolute;
    top: 0;
    width: 230px;
    height: 230px;
    background-color: rgba(96, 132, 2, 0.9);
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: normal;

}

.special_precent {
    font-weight: bold;
    font-size: 65px;
    display: block;
}

.special_price {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item {
    float: left;
    display: block;
    margin-right: 20px;
    height: 370px;
    position: relative;
}

.item:nth-of-type(4n) {
    margin-right: 0;
}

.item_wrap {
    width: 230px;
    height: 140px;
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    position: relative;
}

.text_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.item_ex {
    text-overflow: ellipsis;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
}

.item_price {
    font-size: 28px;
    font-weight: bold;
}


.recipe {
    min-width: 980px;
    height: 1030px;

    background-image: url(/image/foodwith_IR/pattern_recipe.png);
    background-repeat: repeat-x;
    background-position: center;
    background-color: #b893f9;

}


.section_recipe {
    background-image: url(/image/foodwith_IR/section_recipe.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


.go_recipe {
    display: inline-block;
    position: absolute;
    width: 480px;
    height: 482px;
    border-radius: 10px;


}

.cake {
    top: 374px;
    left: calc(50% - 490px);
}

.pudding {
    top: 374px;
    left: calc(50% + 10px);
}

.more_recipe {
    display: inline-block;
    position: absolute;
    background-image: url(/image/foodwith_IR/go_recipe.gif);
    width: 310px;
    height: 91px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;

}

.more_recipe:hover,
.more_recipe:active {
    background-image: url(/image/foodwith_IR/go_recipe_over.gif);
}


.Answer {
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    transition: all 0.3s;
}



.FAQ_wrap {
    min-width: 980px;
    background-color: #fff;
}

.FAQ {
    width: 980px;
    margin: 100px auto;
    position: relative;
    border-bottom: 1px solid #a1a5ad;
}

.FAQ_title {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    padding-bottom: 30px;
}

.Question {
    font-size: 20px;
    color: #1b1d21;
    line-height: 28px;
    font-weight: bold;
    border-top: 1px solid #a1a5ad;
    padding: 20px 40px;
    position: relative;
    cursor : pointer;
}

.Question:before {
    background-image: url(/image/foodwith_IR/icon_question.gif);
    content: '';
    display: inline-block;
    width: 21px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translatey(-50%);
    position: absolute;
}

.Question.active::after {
    content: '';
    display: inline-block;
    transform: rotate(180deg) translatey(50%);

}

.Question::after {
    background-image: url(/image/foodwith_IR/icon_arrow_down.gif);


    content: '';
    display: inline-block;
    width: 23px;
    height: 12px;
    right: 10px;
    top: 50%;
    transform: translatey(-50%);
    position: absolute;
    cursor : pointer;
    background-repeat:no-repeat;
    background-position:center;
    transition:  all 0.3s;

}


.active+.Answer {
    width: auto;
    height: auto;
    overflow: initial;
    clip: initial;
    clip-path: initial;
    margin: 0;
    padding: 20px;
    white-space: pre-line;
    background-color: #f7f8fa;
    position: relative;
    padding-left: 40px;

}

.active+.Answer::before {
    background-image: url(/image/foodwith_IR/icon_answer.gif);
    content: '';
    display: inline-block;
    width: 21px;
    height: 17px;
    top: 50%;
    left: 10px;
    transform: translatey(-50%);
    position: absolute;


}


footer {
    height: 80px;
    background-color: #e0e4eb;
    font-size: 18px;
    color: #70757d;
    text-align: center;
    line-height: 80px;
}